<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نوبت دهی نانوایی</title>
</head>
<body>
    <center>
    <h1>برای گرفتن نوبت نام خود را وارد کنید</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <p>نام</p>
        <input type="text" name="fullName" >
        <br>
        <p>مقدار به تومان</p>
        <input type="number" name="amount">
        <button type="submit">ثبت اطلاعات</button>
    </form>
    <iframe srcdoc="
    {% for nobati in data %}
    <h5>{{nobati.id}}--{{nobati.name}}___{{nobati.amount}}</h5>
    {%endfor%}" width="200" height="600"></iframe>
    </center>
</body>
</html>